{% extends 'base.html.twig' %}

{% block title %}Nouvelle Partie{% endblock %}

{% set questions = {
  	"present": [
    	"Qu’est ce qui est stimulant pour vous pour atteindre l’objectif ?",
   	    "Quelles qualités vous sont nécessaires pour l’atteinte de l’objectif ?",
		"Au fond de vous, qu’est-ce que vous souhaitez vraiment à travers cet objectif ?",
		"Qu’est-ce que vous avez envie de faire pour le projet ?",
		"Quels moyens techniques, humains pouvez-vous mobiliser pour atteindre l’objectif ?",
		"Concernant les indicateurs, à quoi savez-vous que vous avancez vers vos objectifs ?",
		"Quel est le principal obstacle qui vous empêche d’avancer ?",
		"Face à cet obstacle, quel danger percevez-vous ? et quelle émotion ressentez-vous ? ",
		"Quelle réaction positive mettez-vous en place pour surmonter l’obstacle ?"
  	],
  	"past": [
		"Qu’est ce qui a été stimulant pour vous pour atteindre l’objectif ?",
		"Quelles qualités vous ont été nécessaires pour l’atteinte de l’objectif ?",
		"Au fond de vous, que recherchiez-vous à travers cet objectif ?",
		"Qu’est-ce que vous aviez envie de faire pour le projet ?",
		"Quels moyens techniques, humains avez-vous mobilisés pour atteindre l’objectif ?",
		"Concernant les indicateurs, à quoi saviez-vous que vous avanciez vers vos objectifs ?",
		"Quel a été le principal obstacle qui vous a empêché d’avancer ?",
		"Face à cet obstacle, quel danger perceviez-vous ? et quelle émotion ressentiez-vous ? ",
		"Quelle a été la réaction positive mise en place pour surmonter l’obstacle ?"
  	],
  	"future": [
        "Qu’est ce qui sera stimulant pour vous pour atteindre l’objectif ?",
     	"Quelles qualités vous seront nécessaires pour l’atteinte de l’objectif ?",
     	"Au fond de vous, qu’est-ce que vous souhaiterez vraiment à travers cet objectif ?",
        "Qu’est-ce que vous aurez envie de faire pour le projet ?",
        "Quels moyens techniques, humains mobiliserez-vous pour atteindre l’objectif ?",
    	"Concernant les indicateurs, à quoi savez vous que vous avancer vers vos objectifs ?",
     	"Quel est le principal obstacle qui vous empêche d’avancer ?",
        "Face à cet obstacle, quel danger percevez vous ? et dans quelle émotion ça vous mets ? ",
        "Quelle est la réaction positive pour surmonter l’obstacle ?"
  	]
} %}

{% block body %}
    {% apply inline_css(source('@styles/email.css')) %}
        
        <div class="email">
            <section class="head">
                <img class="logo" src="{{ email.image('@images/logo.svg') }}"></img>
                <span class="span1">Partie réalisé le {{ partie.datePartie|date("d/m/Y") }} par {{ partie.user.prenom }} {{ partie.user.nom }} ({{partie.user.email}})</span>
                <span class="span1">Objectif : {{ partie.objectif }}</span>
                <span class="">Mode jeu : {{ partie.typePartie.mode }}</span>
            </section>
            <section class="content">
                {% for index, question in questions[partie.typePartie.temps] %}
                    <span class="questions">Question {{ index|number_format + 1}} : {{question}}</span>
                    <span class="reponses">Reponse : <span class="parole">{{partie.reponses[index]["reponse"]}}</span></span>
                    <div class="adjectifs">
                        <span class="">Ressources, Besoins, Affects :</span>
                        <ul>
                            {% for tag in partie.reponses[index]["listTags"] %}
                                <li class="parole">{{tag}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <span class="intensite">Intensité : {{partie.reponses[index]["satisfaction"]}}</span>
                {% endfor %}
            </section>
            <section class="footer">
                <span class="questions">Debriefing :</span>
                <span class="parole debrief">{{partie.debriefing["choix1"]}}</span>
            </section>
        </div>

    {% endapply %}
{% endblock %}
